.btn {
  &, // for all buttons as well.
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* set the button as a block in another line.  */
    border-radius: 10rem;
    transition: all 0.2s; /* Set the after transition. */
    position: relative; /* To set the after behind the button. */
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6); /* Increase the element. */
      opacity: 0; /* Hide the 'transform' after it is executed. */
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute; /* To set the after behind the button. */
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; /* Executes the after animation. */
  }

  &--animated {
    /* animation name, duration, transition, delay */
    animation: moveInBottom-heading 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /* starts the animation from zero. */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15%);
    transition: all 0.2s;
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15%);
    transition: all 0s;
  }
}
